.AdminClass--ClassDiv {
    background-color: #152533;
    width: 330px;
    height: 150px;
    border-radius: 8px;
    -webkit-border-radius: 8px; 
    -moz-border-radius: 8px; 
    margin: 0 18.6px 15px 18.6px;
    font-weight: 300;
    font-size: 14px;
    position: relative;
}

.AdminClass--infoDiv {
    width: 65%;
    text-align: left;
    margin: 10px 10px 10px 15px;
}

.AdminClass--date {
padding-top: 10px;
margin: 10px 0 4px 0;
}

.AdminClass--time {
    margin-top: 5px;
    display: inline-block;
    font-weight: 500;
}

.AdminClass--class {
    margin-top: 5px;
    display: inline-block;
    font-weight: 500;
    margin-left: 10px;
}

.AdminClass--noOfParticpantsText {
    display: inline-block;
    -webkit-margin-after: 0 !important;
            margin-block-end: 0 !important;
}

.AdminClass--noOfParticpants {
    display: inline-block;
    margin-left: 3px;
    -webkit-margin-after: 0 !important;
            margin-block-end: 0 !important;
}

.AdminClass--participants {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 34px;
    -webkit-padding-start: 0;
            padding-inline-start: 0;
    width: 302px;
    -webkit-margin-after: 0 !important;
            margin-block-end: 0 !important;
    border-top: 1px solid #979797;
    padding-top: 5px;
}

.AdminClass--participants-li { 
    margin: 0;
    margin-right: 10px;
    list-style: none;
}


.AdminClass--actionDiv {
    width: 35%;
}

.AdminClass--actionBtn {
    border-radius: 100px;
    -webkit-border-radius: 100px; 
    -moz-border-radius: 100px; 
    padding: 1px 5px;
    width: 78px;
    height: 25px;
    line-height: 27px;
    margin-bottom: 4px;
}

.AdminClass--status {
    color: #FFBA00;
    border: solid 2px #FFBA00;
    position: absolute;
    top: 12px;
    right: 10px;
}

.AdminClass--confirmed {
    color: #34C759 ;
    border-color: #34C759;
}

.AdminClass--cursor {
    cursor: pointer;
}

.AdminClass--cancel {
    color: #FF3B30;
    border: solid 2px #FF3B30;
    position: absolute;
    top: 53px;
    right: 10px;
}
