.Class--imgDiv {
  height: 150px;
}

.Class--imgDiv img {
  width: 330px;
  height: 150px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}


.Class--divInfo {
  background-color: #152533;
  width: 330px;
  height: 106px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  margin: 0 18.6px 15px 18.6px;
  font-weight: 300;
  font-size: 14px;
  position: relative; 
}

.Class--timeDiv,
.Class--details,
.Class--book {
  vertical-align: top;
  display: inline-block;
  height: 100%;
}

/* --- Time --- */
.Class--timeDiv {
  width: 19.6%;
  font-weight: 500;
}

/* --- Details --- */
.Class--details {
  width: 61.8%;
  text-align: left;
}

.Class--class {
  font-weight: 500;
}

.Class--venue {
  display: block;
}

/* --- Book --- */
.Class--book {
  width: 18.6%;
}

.Class--bookButtonIcon {
  height: 44px !important;
  width: 44px !important;
  color: white;
  font-size: 30px;
  margin-top: 13px;
  cursor: pointer;
}

.Class--bookedClassIcon {
  color: #FFBA00;
}

.Class--participants {
  width: 44px;
  text-align: right;
}

.Class--status {
  position: absolute;
  left: 163px;
  bottom: 10px;
  border: solid 2px #FF3B30;
  border-radius: 100px;
  -webkit-border-radius: 100px; 
  -moz-border-radius: 100px; 
  padding: 1px 5px;
  color: #FF3B30;
  width: 90px;
}

.Class--confirmed {
  border-color:#34C759;
  color: #34C759;
}
