.CreateClass--form {
    width: 90%;
    margin: 60px 25px;
}

.CreateClass--form .form-group {
    height: 58px;
}

.CreateClass--form input {
    width: 200px;
    margin-bottom: 0;
    height: 38px;
}

.CreateClass--addClass-Btn {
    margin-top: 30px;
    width: 210px;
    height: 50px;
    background-color: #D8D8D8;
    border-radius: 100px;
    -webkit-border-radius: 100px; 
    -moz-border-radius: 100px; 
    color: #071623;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 14px;
}
