ul {
    padding: 0;
  }

.BookClass-days {
    margin-top: 20px;
    padding: 0 5% 5% 5%;
    background-color: #071623;
    margin-bottom: 20px !important;
  }

  .BookClass--classes-container {
    max-height: 65vh;
    overflow: scroll;
  }

  .BookClass-date {
    background-color: #071623;
    color: #4F5F6E;
  }

  .BookClass-date {
    border: solid 1px #4F5F6E;
    border-radius: 100%;
    -webkit-border-radius: 100%; 
    -moz-border-radius: 100%; 
    width: 44px;
    height: 44px;
    line-height: 44px;
    margin: 0 2px;
    color: #4F5F6E;
    font-weight: 300;
  }

  .BookClass-date:disabled {
    background-color: #152533;
  }

  .BookClass-activeDate {
    border-color: #fff !important;
    color: #fff !important;
  }

  .BookClass--day {
    display: inline-block;
    color: #4F5F6E;
    font-weight: 300;
    font-size: 14px;
  }

  .BookClass--day p {
    margin-bottom: 7px;
  }