.BookingDetails--Container {
    height: 255.99px;
    width: 330px;
    background-color: #152536;
    position: absolute;
    top: -150px;
    left: 0;
    z-index: 999;
    border-radius: 8px;
}

.BookingDetails--Container-Close-Container {
height: 3em;
}

.BookingDetails--Close {
font-size: 1.3em;
float: left;
margin: 4%;
}