.MockClassDiv {
    background-color: #152533;
    width: 307px;
    height: 80px;
    border-radius: 8px;
    -webkit-border-radius: 8px; 
    -moz-border-radius: 8px; 
    margin-bottom: 8px;
    margin-top: -26px;
    
  }
  
  .MockClassTime,
  .MockClassClass  { 
    font-weight: 300;
    font-size: 14px;
    display: inline-block;
    float: left;
  }
  
  .MockDivInfo {
    margin-top: 0px;
    text-align: left;
  }
  
  .MockClassTime { 
    margin-left: 15px;
    width: 36px;
  }
  
  .MockClassClass {
    margin-left: 18px;
  }
  
  .MockDivMockTextLong,
  .MockDivMockTextShort {
    display: inline-block;
    background-color: #4F5F6E;
    height: 10px;
  }
  
  .MockDivDiv {
    margin-top:-15px;
    margin-left: 70px;
    float: left;
  }
  
  .MockDivMockTextLong {
    width: 111px;
  }
  
  .MockDivMockTextShort {
    width: 29px;
    margin-left: 11px;
  }
  
  .MockPlus {
    font-size: 36px;
    color: #4F5F6E;
    position: relative;
    top: 17px;
    right: -42px;
  }