.TemplateClass--ClassDiv {
    background-color: #152533;
    width: 330px;
    height: 138px;
    border-radius: 8px;
    -webkit-border-radius: 8px; 
    -moz-border-radius: 8px; 
    margin: 0 18.6px 15px 18.6px;
    font-weight: 300;
    font-size: 14px;
    position: relative;
}

.TemplateClass--infoDiv {
    width: 65%;
    text-align: left;
    margin: 10px 10px 10px 15px;
}

.TemplateClass--actionDiv {
    width: 35%;
}

.TemplateClass--actionBtn {
    border-radius: 100px;
    -webkit-border-radius: 100px; 
    -moz-border-radius: 100px; 
    padding: 1px 5px;
    width: 78px;
    height: 25px;
    line-height: 27px;
    margin-bottom: 4px;
}

.TemplateClass--cursor {
    cursor: pointer;
}

.TemplateClass--cancel {
    color: #FF3B30;
    border: solid 2px #FF3B30;
    position: absolute;
    top: 12px;
    right: 10px;
}
