.sidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    left: 20px;
    top: 20px;
}

.menu-bars {
    font-size: 2rem;
}

.nav-menu {
    background-color: #152533;
    width: 250px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    -webkit-transition: 860ms;
    -o-transition: 860ms;
    transition: 860ms;
    z-index: 2;
    border-right: 1px solid #071623;
}

.nav-menu.active {
    left: 0;
    -webkit-transform: 350ms;
        -ms-transform: 350ms;
            transform: 350ms;
    z-index: 5 !important;
}

.nav-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 8px 16px;
    list-style: none;
    height: 60px;
    text-align: left;
}

.nav-text a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 16px;
    border-radius: 4px;
    -webkit-border-radius: 4px; 
    -moz-border-radius: 4px; 
}

.nav-text a:hover {
    background-color: #4F5F6E;
}

.nav-menu-items {
    width: 100%;
    -webkit-padding-start: 0 !important;
            padding-inline-start: 0 !important;
}

.nav-menu-items:first-child {
    margin-top: 35vh;
}


.navbar-toggle {
    width: 93%;
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: -0.5%;
    left: 7%;
}

.navTitle {
    margin-left: 16px;
}

