.Schedule--tab {
    color: #979797;
    text-align: left;
    width: 330px;
    margin: 0 18.6px 15px 18.6px;
    border-bottom: 1px solid #979797;
    font-size: 18px;
}

.Schedule--tab svg {
   vertical-align: middle;
}