.signInh3 {
    margin-top: 40px;
  }

.or {
    margin-top: 20px;
    margin-bottom: 20px;
  }

.forgot {
    display: block;
    text-align: left;
    color:#FFBA00;
    text-decoration: none;
    font-size: 12px;
    margin-bottom: 28px;
    text-indent: 13px;
  }

  .icon {
    color: #D8D8D8;
    height: 47px;
    width: 47px;
  }

  form {
    width: 300px;
  }