.App {
  text-align: center;
  height: 100%;
  max-height: 100%;
  min-height: 100%;
  padding-bottom: 80px;
  overflow: hidden;
}

.App-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h3 {
  font-size: 16px;
  font-weight: 500;
}

button {
  width: 307px;
  height: 55px;
  background-color: #D8D8D8;
  border-radius: 100px;
  -webkit-border-radius: 100px; 
  -moz-border-radius: 100px; 
  color: #071623;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}

input {
    width: 297px;
    height: 47px;
    background-color: transparent;
    border-radius: 8px;
    -webkit-border-radius: 8px; 
    -moz-border-radius: 8px; 
    color: #fff;
    border: 2px solid #D8D8D8;
    margin-bottom: 20px;
    padding-left: 5px;
    text-indent: 5px;
    font-size: 16px;
}

input::-webkit-input-placeholder {
  color: #D8D8D8;
}

a {
  text-decoration: none;
}

*:focus {
  outline: none;
}

button:disabled,
button[disabled] {
  cursor: not-allowed;
  color: #4F5F6E;
}

.Toastify__toast {
  border-radius: 8px !important;
  -webkit-border-radius: 8px !important; 
  -moz-border-radius: 8px !important; 
}

.Toastify__close-button {
  width: 50px !important;
}

.Toastify__toast--success {
  background-color: #152533 !important;
  color: #34C759 !important;
}

.Toastify__toast--error {
  background-color: #152533 !important;
  color: #FF3B30 !important;
}

.Toastify__toast--info {
  background-color: #152533 !important;
}

input[type="time"]::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-calendar-picker-indicator,
.loader,
#picker
{
  filter: invert(80%);
}

button:disabled {
  background-color: rgba(255, 255, 255, 0.1) !important;
}